$background_color: rgb(253, 228, 247);  // very light lavendar (almost white)

$primary_color: rgb(255, 192, 241);     //lavendar

//Accent for header and buttons
$accent_color: rgb(116, 20, 76);
$accent_darker: darken($accent_color, 10%);
$accent_lighter: lighten($accent_color, 10%);

// Centre color - for extra highlights
$centre_color: rgb(183, 44, 118);
$centre_light: darken($centre_color, 10%);
$centre_darker: lighten($centre_color, 10%);

//text colors
$black_text: black;
$white_text: rgb(254, 239, 250);     // slightly lavendar (same as background color)
$white_dark_text: darken($white_text, 20%);     // For highlight, hover
$white_light_text: lighten($white_text, 10%);

// shadow or box
$grey_box: rgba(52, 52, 52, 0.5);
$grey_shadow: rgba(70, 70, 70, 0.3);


