body {
  background-color: rgb(255, 222, 245);   //TODO: Using color instead of importing colors.scss
  background-size: cover;
}

.App {
  height: 100%;
  width: 100%;
}
  
  // .App-header {
    // background-color: rgb(99, 24, 68);
    // min-height: 10%;
    // display: flex;
    // flex-direction: column;
    // align-items: left;
  
    // p {
    //   color: white;
    //   font-size: calc(10px + 2vmin);
    //   font-family: 'Times New Roman', Times, serif;
    //   padding-left: 1.5%;
    // }
  
  // }

// Overrding bootstrap color
// $body-bg: rgb(255, 222, 245);
// $warning: rgb(99, 24, 68);  

  // @import '~bootstrap/scss/bootstrap';
  /*importing bootstrap in the end as changing bootstrap colors*/
  